body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.contenido {
    background-image: url('homee.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contenidoe {
    display: flex;
    background-image: url('homee.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 60px;
}